<header
  class="mx-auto flex h-[4.5rem] max-w-(--w) px-8 whitespace-nowrap lg:justify-center"
>
  <div class="relative z-50 flex items-center ltr:mr-auto rtl:ml-auto">
    <a
      class="nav-logo -translate-y-[1px]"
      href="{{- `` | absURL -}}"
    ><span class="prompt">~</span> vivek/blog<span class="cursor-blink">_</span></a>
  </div>

  <div
    class="btn-menu relative z-50 flex h-[4.5rem] w-[5rem] shrink-0 cursor-pointer flex-col items-center justify-center gap-2.5 lg:hidden ltr:-mr-8 rtl:-ml-8"
    role="button"
    aria-label="Menu"
  ></div>

  <script>
    // base
    const htmlClass = document.documentElement.classList;
    setTimeout(() => {
      htmlClass.remove('not-ready');
    }, 10);

    // mobile menu
    const btnMenu = document.querySelector('.btn-menu');
    btnMenu.addEventListener('click', () => {
      htmlClass.toggle('open');
    });
  </script>

  <div
    class="nav-wrapper nav-links fixed inset-x-0 top-full z-40 flex h-full flex-col justify-center pb-16 duration-200 select-none lg:static lg:h-auto lg:flex-row lg:bg-transparent! lg:pb-0 lg:transition-none"
  >
    <nav
      class="lg:ml-12 lg:flex lg:flex-row lg:items-center lg:space-x-10"
    >
      {{- with site.Menus.main -}}
      {{- range . -}}
      <a
        class="block text-center text-xl leading-[5rem] lg:text-base lg:font-normal"
        href="{{- .URL -}}"
        >{{- .Name -}}</a
      >
      {{- end -}}
      {{- end -}}
      <a
        class="nav-link-site block text-center text-xl leading-[5rem] lg:text-base lg:font-normal"
        href="https://anandvivek.in"
        target="_blank"
        rel="noopener"
        >anandvivek.in ↗</a
      >
    </nav>
  </div>
</header>
